input.ng-touched.ng-invalid{
    border: 1px solid red;
}
textarea.ng-touched.ng-invalid{
    border: 1px solid red;
}
small{
    color: red;
}
.p-button-container{
    float:right;
}
#disabled-input{
    background-color: #f0f0f0;
    opacity: 0.7;
    pointer-events: none;
}
.disabled-row {
    opacity: 0.5;
    pointer-events: none;
}