<div class="grid">
    <div class="col-12">
        <!-- <p-messages [(value)]="messages" [enableService]="false" [closable]="true"></p-messages> -->
        <div class="card">
            <h5>Word & Sentences List</h5>
            <p-table
                #dt2
                [value]="wordAndSentenceData"
                dataKey="id"
                [rows]="rowsPerPage"
                [rowsPerPageOptions]="rowsPerPageOptions"
                [loading]="loading"
                [rowHover]="true"
                styleClass="p-datatable-gridlines"
                [paginator]="true"
                responsiveLayout="scroll" 
                [globalFilterFields]="[
                'collectionId'
                ]"
                [columns]="cols"
                [totalRecords]="recordCount"
                [(first)]="first" 
                [showCurrentPageReport]="true"
                [lazy]="true"
                (onPage)="onPageChange($event)"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        >
                <ng-template pTemplate="caption">
                    <div
                        class="flex justify-content-between flex-column sm:flex-row"
                    >
                        <button
                            pButton
                            label="Clear"
                            class="p-button-outlined mb-2"
                            icon="pi pi-filter-slash"
                            (click)="clear(dt1)"
                        ></button>
                        <div class="my-2">
                            <button
                                pButton
                                pRipple
                                label="{{ 'Add Word & Sentence' }}"
                                icon="pi pi-plus"
                                class="p-button-success mr-2"
                                (click)="addMoreWords()"
                            ></button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 12rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Text
                                <p-columnFilter
                                    type="text"
                                    field="contentSourceData.0.text"
                                    display="menu"
                                    matchMode="contains"
                                    placeholder="Search"
                                ></p-columnFilter>
                            </div>
                        </th>

                        <th style="min-width: 12rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Tags
                                <p-columnFilter
                                    type="text"
                                    field="tags"
                                    display="menu"
                                    matchMode="contains"
                                    placeholder="Search"
                                ></p-columnFilter>
                            </div>
                        </th>
                        <!-- <th style="min-width: 12rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Name
                                <p-columnFilter
                                    type="text"
                                    field="name"
                                    display="menu"
                                    placeholder="Search by Name"
                                ></p-columnFilter>
                            </div>
                        </th> -->
                        <!-- <th style="min-width: 12rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Published By
                                <p-columnFilter
                                    type="text"
                                    field="publishedBy"
                                    display="menu"
                                    placeholder="Search by Published"
                                ></p-columnFilter>
                            </div>
                        </th> -->
                        <th style="min-width: 12rem">
                            <p-columnFilter matchMode="contains" field="contentType" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <div class="flex justify-content-between align-items-center dropdown-container">
                                        Content Type
                                        <p-dropdown
                                            [filterValue]="contentTypeOptions[0]"
                                            [ngModel]="value"
                                            [options]="contentTypeOptions"
                                            (onChange)="filter($event.value)"
                                            [showClear]="true"
                                            placeholder="Search"
                                            [filter]="true"
                                            editable="true"
                                            [style]="{ 'width': '150px' }"
                                            appendTo="body"
                                        ></p-dropdown>
                                    </div>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th style="min-width: 12rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Language
                                <p-columnFilter
                                    type="text"
                                    field="language"
                                    display="menu"
                                    matchMode="contains"
                                    placeholder="Search by name"
                                ></p-columnFilter>
                            </div>
                        </th>
                      
                        <th style="min-width: 12rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Collection Id
                                <p-columnFilter
                                    #collectionIdFilter
                                    type="text"
                                    field="collectionId"
                                    display="menu"
                                    matchMode="contains"
                                    placeholder="Search"
                                ></p-columnFilter>
                            </div>
                        </th>
                        <!-- <th style="min-width: 10rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Created By
                                <p-columnFilter
                                    type="text"
                                    field="contentSourceData.0.createdBy"
                                    display="menu"
                                    matchMode="contains"
                                    placeholder="Search"
                                ></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Updated By
                                <p-columnFilter
                                    type="text"
                                    field="contentSourceData.0.updatedBy"
                                    display="menu"
                                    matchMode="contains"
                                    placeholder="Search"
                                ></p-columnFilter>
                            </div>
                        </th> -->
                        <th style="min-width: 10rem"> Actions</th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-wordAndSentence>
                    <tr [ngClass]="{'disabled-row': wordAndSentence.deleted}">
                        <td>
                            <ng-container *ngIf="!wordAndSentence.isEditing; else editTemplate">
                              {{ wordAndSentence.contentSourceData[0].text }}
                            </ng-container>
                            <ng-template #editTemplate>
                              <div class="field">
                                <textarea
                                  type="text"
                                  pInputText
                                  autofocus
                                  [(ngModel)]="wordAndSentence.contentSourceData[0].text"
                                  class="form-control"
                                  rows="4"
                                  style="width: 400px;"
                                ></textarea>
                              </div>
                            </ng-template>
                            </td>
                        <td >
                            {{wordAndSentence.tags}}
                        </td>
                        <td >
                            <ng-container *ngIf="!wordAndSentence.isEditing; else dropdownTemplate">
                                {{wordAndSentence.contentType}}
                            </ng-container>

                            <ng-template #dropdownTemplate>
                                <p-dropdown
                                  [(ngModel)]="wordAndSentence.contentType"
                                  [options]="contentTypeOptions"
                                  optionLabel="label"
                                  optionValue="value"
                                  appendTo="body"
                                ></p-dropdown>
                              </ng-template>
                        </td>                   
                        <td >
                            <ng-container *ngIf="!wordAndSentence.isEditing; else languageTemplate">
                                {{wordAndSentence.language}}
                            </ng-container>

                            <ng-template #languageTemplate>
                                <p-dropdown
                                  [(ngModel)]="wordAndSentence.language"
                                  [options]="languageOptions"
                                  optionLabel="label"
                                  optionValue="value"
                                  appendTo="body"
                                ></p-dropdown>
                              </ng-template>
                        </td>


                        <td >
                            {{wordAndSentence.collectionId}}
                        </td>

                        <!-- <td>
                            {{wordAndSentence.createdBy}}
                        </td>

                        <td>
                            {{wordAndSentence.updatedBy}}
                        </td> -->
                       
						<td style="text-align: center">
							<!-- <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-danger mr-2" (click)="editWorkAndSentence(wordAndSentence)"></button> -->
                            <button
                            *ngIf="!wordAndSentence.isEditing"
                            pButton
                            pRipple
                            icon="pi pi-pencil"
                            class="p-button-rounded p-button-success mr-2"
                            (click)="toggleEdit(wordAndSentence)"
                          ></button>
                          <button
                            *ngIf="wordAndSentence.isEditing"
                            pButton
                            pRipple
                            icon="pi pi-check"
                            class="p-button-rounded p-button-success mr-2"
                            (click)="editContent(wordAndSentence)"
                          ></button>
							<button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteWorkAndSentence(wordAndSentence)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No Data found.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">
                            Loading data.... Please wait.
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>