<div class="grid">
    <div class="col-12">
        <p-messages [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>
        <div class="card">
            <h5>Target List</h5>
            <p-table #dt [value]="targetList" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10,100,200,300]"
                [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true"
                [globalFilterFields]="[
                    'name',
                    'country.name',
                    'representative.name',
                    'status'
                ]" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="filter-container">
                        <form [formGroup]="targetForm" class="filter-fields">
                            <!-- User Input Field -->
                            
                            <div class="filter-item">
                                <input 
                                autofocus 
                                formControlName="userID"
                                id="userId" type="text" pInputText placeholder="Enter User ID" />
                            </div>

                            <!-- Dropdown Field -->
                            <div class="filter-item">
                                <p-dropdown 
                                formControlName="language"
                                [showClear]="true"
                                [options]="languageList"
                                optionLabel="label"
                                autofocus
                                placeholder="Select Language"
                                optionValue="value"
                               
                                  ></p-dropdown>
                            </div>
                            </form>
                        </div>
                        <div class="button-container">
                            <!-- Search Button -->
                            <button
                                pButton
                                pRipple
                                label="{{ 'Search' }}"
                                icon="pi pi-search"
                                class="p-button-success mr-2"
                                (click)="searchTarget()"
                            ></button>

                            <!-- Clear Button -->
                            <button
                                pButton
                                label="Clear"
                                class="p-button-outlined mb-2"
                                icon="pi pi-filter-slash"
                                (click)="clear(dt)"
                            ></button>
                        </div>
                    
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th id="" style="min-width: 12rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Serial No.
                              
                            </div>
                        </th>
                        <th id="" style="min-width: 12rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Character
                                <p-columnFilter
                                    type="text"
                                    field="character"
                                    display="menu"
                                    matchMode="contains"
                                    placeholder="Search"
                                ></p-columnFilter>
                            </div>
                        </th>
                        <th id="" style="min-width: 12rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Score
                                <p-columnFilter
                                    type="text"
                                    field="score"
                                    display="menu"
                                    matchMode="contains"
                                    placeholder="Search"
                                ></p-columnFilter>
                            </div>
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-target let-i="rowIndex">
                <tr [pEditableRow]="tutorial">
                    <td>
                        {{ i + 1 }}
                    </td>
                    <td>
                        {{ target.character }}
                    </td>
                    <td>
                        {{ target.score }}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No Target found.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="8">
                        Loading Target ... Please wait.
                    </td>
                </tr>
            </ng-template>

            </p-table>
        </div>
    </div>
</div>
