.dialog-content .ui-dialog-title {
  font-size: 28px;
}

.field {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
  
  .text-danger {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }


  button {
    margin-top: 138px;
    width: 100%;
    background-color: #007BFF;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  