<div>
  <form [formGroup]="environmentForm" style="width: 420px;">
    <div class="field">
      <label>
        <input type="radio" formControlName="environment" value="dev"> Development
        <br>
        <a style="margin-left: 10px;">{{devUrl}}</a>
      </label>
    </div>
    <div class="field">
      <label>
        <input type="radio" formControlName="environment" value="prod"> Production
        <br>
        <a style="margin-left: 10px;">{{prodUrl}}</a>
      </label>
    </div>
    <!-- Validation message -->
    <div *ngIf="environmentForm.get('environment').invalid && environmentForm.get('environment').touched" class="text-danger">
      Please select an environment.
    </div>
 
  </form>
  <button pButton type="button" style="height: 45px;" pButton label="Submit" (click)="submitEnvironment()"></button>
 
</div>
